@model MapEgora.Models.Route
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MapEgora</title>
    <link rel="stylesheet" href="~/Contents/lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Contents/css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script>
        // Check for the various File API support.
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            // Great success! All the File APIs are supported.
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }
        var nfile = 0;

        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object
            nfile++;
            $('#hiddenfiles').append("<input type=\"hidden\" name=\"ffile\" id=\"" + "ff" + nfile.toString() + "\"/>");

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                        document.getElementById('photolist').insertBefore(span, null);

                        //------
                        document.getElementById("ff" + nfile.toString()).value = document.getElementById("photofiles").value;

                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);

            }
        }

        $(document).ready(function () {
            document.getElementById('photofiles').addEventListener('change', handleFileSelect, false);
        });
    </script>


</head>
<body>
    <!-- Статическая навигационная панель -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-title1">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/Home/Index"><i class="logo"></i>MapEgora</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Routes">Маршруты<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Регистрация</a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="card">
            <form id="frmAddRoute" action="/Home/AddRoute" method="post" enctype="multipart/form-data">
                <div id="hiddenfiles">
                    
                </div>

                <div class="card-header"><h3>Новый маршрут</h3></div>
                <div class="card-block">

                    <div class="form-group row">
                        <label for="txtNameRoute" class="col-2 col-form-label">Название маршрута</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="txtNameRoute" name="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtDicrRoute" class="col-2 col-form-label">Описание</label>
                        <div class="col-10">
                            <textarea class="form-control" id="txtDiscrRoute" rows="3" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mapInputFile" class="col-2 col-form-label">Файл изображения</label>
                        <input type="file" class="form-control-file col-10" id="mapInpitFile" aria-describedby="fileHelp" name="uploadImage">
                    </div>

                    <div class="form-group row">
                        <div class="col-2"></div>
                        <small id="fileHelp" class="form-text text-muted col-10">Выберите файл с изображением маршрута. Формат файла jpeg не должен превышать 5МБ</small>
                    </div>
                    <div class="form-group row">
                        <label for="kmlInputFile" class="col-2 col-form-label">Файл KML</label>
                        <input type="file" class="form-control-file col-10" id="kmlInpitFile" aria-describedby="fileHelp2" name="uploadKML">
                    </div>

                    <div class="form-group row">
                        <div class="col-2"></div>
                        <small id="fileHelp2" class="form-text text-muted col-10">Выберите файл KML, который не должен превышать 5МБ</small>
                    </div>
                    <input type="file" size="0" id="photofiles" name="photofile"/>
                    <div class="form-group row">
                        <output id="photolist" name="photos"></output>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" form="frmAddRoute">Сохранить</button>
                    <button type="button" class="btn" form="frmAddRoute" onclick="javascript: document.location.href = '/Home/Routes';">Отмена</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
</body>
</html>